<a href="https://colab.research.google.com/github/smritae01/Python/blob/master/Collaborative_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
First Task for Collaborative Filtering

SyntaxError: ignored

In [ ]:
# To upload dataset with a nice GUI

from google.colab import files
uploaded = files.upload()

Saving sample_collaborative.csv to sample_collaborative.csv

In [ ]:
import pandas as pd
import io
train_data = pd.read_csv(io.StringIO(uploaded['sample_collaborative.csv'].decode('utf-8')))

In [ ]:
train_data.head()

    User  Movie1  Movie2  Movie3  ...  Movie7  Movie8  Movie9  Movie10
0  User1     7.0     NaN     8.0  ...     NaN     NaN     5.0      NaN
1  User2     9.0     NaN     NaN  ...     NaN     6.0     NaN      NaN
2  User3     NaN     7.0     NaN  ...     5.0     NaN     8.0      5.0
3  User4     4.0     NaN     6.0  ...     NaN     NaN     NaN      3.0
4  User5     NaN     NaN     5.0  ...     7.0     NaN     3.0      NaN

[5 rows x 11 columns]

In [ ]:
train_data.set_index('User', inplace=True)
train_data.head()

       Movie1  Movie2  Movie3  Movie4  ...  Movie7  Movie8  Movie9  Movie10
User                                   ...
User1     7.0     NaN     8.0     NaN  ...     NaN     NaN     5.0      NaN
User2     9.0     NaN     NaN     5.0  ...     NaN     6.0     NaN      NaN
User3     NaN     7.0     NaN     NaN  ...     5.0     NaN     8.0      5.0
User4     4.0     NaN     6.0     NaN  ...     NaN     NaN     NaN      3.0
User5     NaN     NaN     5.0     7.0  ...     7.0     NaN     3.0      NaN

[5 rows x 10 columns]

In [23]:
import math
def modu(x):
  sum =0
  for i in range(len(x)):
    sum = sum + x[i]*x[i]
  norm = math.sqrt(sum)
  return(norm)

def cos_simm(x,y):
  mod_x = modu(x)
  mod_y = modu(y)
  dot_prod = 0
  for i in range(len(x)):
    dot_prod = dot_prod + x[i]*y[i]
  ans = dot_prod/(mod_x*mod_y)
  return ans

In [ ]:
#Mean of all the rows
train_data.mean(axis=1)

User
User1     5.750000
User2     7.000000
User3     6.250000
User4     4.750000
User5     5.500000
User6     6.333333
User7     6.250000
User8     5.666667
User9     6.500000
User10    6.500000
dtype: float64

In [ ]:
"For Normalizing the ratings of each user by subtracting the means of each user from their respective individual values"
train_data.sub(train_data.mean(axis=1), axis=0).fillna(0)

        Movie1    Movie2  Movie3  Movie4  ...  Movie7    Movie8    Movie9  Movie10
User                                      ...
User1     1.25  0.000000    2.25    0.00  ...    0.00  0.000000 -0.750000     0.00
User2     2.00  0.000000    0.00   -2.00  ...    0.00 -1.000000  0.000000     0.00
User3     0.00  0.750000    0.00    0.00  ...   -1.25  0.000000  1.750000    -1.25
User4    -0.75  0.000000    1.25    0.00  ...    0.00  0.000000  0.000000    -1.75
User5     0.00  0.000000   -0.50    1.50  ...    1.50  0.000000 -2.500000     0.00
User6     0.00  0.666667    0.00    0.00  ...    0.00  1.666667  0.000000     0.00
User7    -0.25  0.000000    0.00    1.75  ...   -2.25  0.000000  0.000000     0.75
User8     0.00 -2.666667    0.00    0.00  ...    0.00  0.000000  0.333333     0.00
User9     0.00  0.000000   -0.50    0.00  ...    0.00  0.500000  0.000000     0.00
User10    0.00 -1.500000    0.00    2.50  ...   -2.50  0.000000  0.000000     1.50

[10 rows x 10 columns]

In [24]:
#Ratings Function
import math
k = 0
def rate_it(x, i):
  max = -2
  usmax = 0
  for k in range(0, 10, 1):
    if not math.isnan(train_data.iloc[k,i-1]):
      
      #train_data.sub(train_data.mean(axis=1), axis=0).fillna(0)

      #Computing Cosine Similarity between User x and other Users who have filled in ratings for Movie i
      sim= cos_simm(train_data.sub(train_data.mean(axis=1), axis=0).fillna(0).iloc[k,:], train_data.sub(train_data.mean(axis=1), axis=0).fillna(0).iloc[x-1, :])
      #Finding most similar user 
      if sim>max:
        max = sim
        usmax = k+1
      print('User',k+1, ', Similarity =' ,sim)
      
  print("Most similar is User ", usmax,", Similarity = ", max)
  val = train_data.sub(train_data.mean(axis=1), axis=0).fillna(0).iloc[usmax-1,i-1]  #Value to be added to User x
  p = train_data.mean(axis=1).iloc[x-1]                                              #Mean of User x
  print("Value to be added = ", val)

  #Final Rating of User x
  print("Recommended Rating of User", x, ", for Movie", i, "is = ", val+p)

In [25]:
#Calling the function on User x and Movie i
rate_it(4, 5)

User 4 , Similarity = 1.0
User 8 , Similarity = 0.3154305410875938
User 9 , Similarity = -0.4303314829119352
Most similar is User  4 , Similarity =  1.0
Value to be added =  1.25
Recommended Rating of User 4 , for Movie 5 is =  6.0